<header class="bg-white shadow-blue-200/50 shadow-md">
  <nav class="max-w-6xl mx-auto px-6 py-4 flex items-center gap-8">
    <a routerLink="/pacientes" class="font-serif text-2xl text-blue-600 tracking-tight">
      Medicore
    </a>

    <div class="h-5 w-px bg-neutral-200"></div>

    <a
      routerLink="/pacientes"
      routerLinkActive="text-blue-600 font-medium border-b-2 border-blue-600"
      class="text-neutral-500 hover:text-blue-600 transition pb-1 text-sm hover:border-b-2 hover:border-blue-600"
    >
      Pacientes
    </a>
    <div class="ml-auto flex items-center gap-4">
      @if (auth.userName()) {
        <div class="flex items-center gap-2 text-sm text-gray-600">
          <lucide-icon [img]="User" size="16"></lucide-icon>
          <span
            >Bienvenido,
            <span class="font-semibold text-blue-600">{{ auth.userName() }}</span></span
          >
        </div>
      }

      <div class="h-5 w-px bg-neutral-200"></div>
      @if (auth.userName()) {
        <button
          (click)="logout()"
          class="flex items-center gap-1 text-sm text-red-500 hover:text-red-700 transition duration-200"
        >
          <lucide-icon [img]="LogOut" size="16"></lucide-icon>
          Salir
        </button>
      } @else {
        <a
          routerLink="/login"
          class="flex items-center gap-1 text-sm text-blue-600 hover:text-blue-700 transition duration-200"
        >
          <lucide-icon [img]="LogOut" size="16"></lucide-icon>
          Iniciar Sesión
        </a>
      }
    </div>
  </nav>
</header>
